# Jetbrains
*/.idea/*

# Visual Studio
*/.vs/*

# Visual Studio Code / VS Codium
*/.vscode/*
*/build/*

# Cmake
*/CmakeLists.txt.user
*/cmake-build-debug/*
*/cmake-build-release/*
*/out/*

# Build output
build-cuteInjector-*
